<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category - add</title>
</head>
<body>
  <h1>Category Add</h1>
  <form th:action="save" method="post">
    <label for="code">Code</label>
    <input type="text" name="code" id="code"> <br/>

    <label for="name">Name</label>
    <input type="text" name="name" id="name"> <br/>

    <label for="description">Description</label>
    <textarea cols="10" rows="5" name="description" id="description"></textarea>
    <br/>
    <br/>
    <button type="submit">Save</button>
  </form>
</body>
</html>