<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category - Edit</title>
</head>
<body>
  <h1>Category Edit</h1>
  <form th:action="update" method="post">
    <input type="hidden" id="id" name="id" th:value="${data.id}">
    <label for="code">Code</label>
    <input type="text" name="code" id="code" th:value="${data.code}"> <br/>

    <label for="name">Name</label>
    <input type="text" name="name" id="name" th:value="${data.name}"> <br/>

    <label for="description">Description</label>
    <textarea cols="10" rows="5" name="description" id="description" th:text="${data.description}"></textarea>
    <br/>
    <br/>
    <button type="submit">Update</button>
  </form>
</body>
</html>